<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Survey Detail</title>
</head>
<body>
    <h1>{{ survey.title }}</h1>
    <form method="post" action="{% url 'submit_response' %}">
        {% csrf_token %}
        {% for question in questions %}
        <p>{{ question.text }}</p>
        {% if question.type == 'text' %}
        <input type="text" name="question_{{ question.id }}">
        {% elif question.type == 'choice' %}
        {% for choice in question.choice_set.all %}
        <input type="radio" name="question_{{ question.id }}" value="{{ choice.id }}"> {{ choice.text }}<br>
        {% endfor %}
        {% endif %}
        {% endfor %}
        <button type="submit">Submit</button>
    </form>
</body>
</html>
